
.btn-close
{
    margin: 5px 0px 0 84.5%;
    right: 10px;
    top: 10px;
    font-size: 10px;
}

.log-form
{
    width: 80%;
    margin: 10px auto;
}

#pwd-diff-warn
{
    display: none;
    text-align: center;
}

.friend-list-avatar
{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}