
.btn-close
{
    margin: 5px 0px 0 84.5%;
    right: 10px;
    top: 10px;
    font-size: 10px;
}

.log-form
{
    width: 80%;
    margin: 10px auto;
}

#pwd-diff-warn
{
    display: none;
    text-align: center;
}

#login-fail-warn
{
    display: none;
    text-align: center;
}

.navbar-o
{
    posistion:relative;

    height:100%;
    width: 80px;
    background-color: #202225;
}

#navbar
{
    posistion:relative;
    transform: translateY(100%);
    width: 80px;
}

.list-group-item
{
    text-align: center;
    height: 70px;
    font-size:32px;
    width:80%;
    padding-top:20px;
    margin:0 auto 20 auto;
    background-color:#0a292d;
    color:white;
}

.list-group-item.active
{
    background-color:#33cc99;
    border-color:#33cc77;
    color:white;
}

.main
{
    width: 100%;
    height: 100%;
}

#div-login-btn
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-login
{
    width: 80%;
    margin-top: 300px;
}

#div-main
{
    display: none;
}

.friend-list
{
    margin: 0;
}

.friend-list-item
{
    width: 150px;
    font-size: 20px;
    margin: 0;
}

.friend-list-item.active
{
    width: 150px;
    font-size: 20px;
    margin: 0;
    background-color:#33cc99;
    border-color:#33cc77;
    color:white;
}

#message-div
{
    width: 100%;
    height: 100%;
}

#message-list
{
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    background-color: #fffff6;
}

.message-list-item
{
    margin: 10px;
}

.message-time
{
    color: green;
    font-size: 12px;
}

.message-text
{
    font-size: 20px;
}

#message-input
{
    width: 100%;
    height: 16.5%;
}

#message-content
{
    width: 100%;
    height: 100%;
}

#send-btn
{
    transform: translateY(-100%);
    float: right;
}

.impression-list-item
{
    margin: 10px;
    padding: 10px;
    background-color: burlywood;
}

.impression-title
{
    color: #006f00;
    font-size: 12px;
}

.impression-item-content
{
    font-size: 18px;
    text-align: center;
}